body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inicio img{
    height: 450px;
}

.menu{
    background-color:  #f7d9ed;
}

.botao{
    background-color: #f7d9ed;
    

}